@use "sass:math";
@import "mixins";
@import "fonts";

$fontFamily: "Myriad Pro";
$fontSize: 16;

$minWidth: 320px;
$maxWidth: 1365;
$maxWidthContainer: 960;
$md1: $maxWidthContainer + 12;
$md2: 767.98;
$md3: 479.98;

$mainColor: #000000;

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==========================================================================================
@import "null";
body {
    color: $mainColor;
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 10px;
}

.page {
    flex: 1 1 auto;
}

//======================================================================================================================

.icon {
    display: inline-block;
    object-fit: contain;
}

.button {
    color: #3cd072;
    font-weight: 700;
    padding: 14px 35px;
    border-radius: 5px;

    // .button_bg
    &_bg {
        // .button_bg_white
        &_white {
            background-color: #ffffff;
        }

        // .button_bg_black
        &_black {
            background-color: #000000;
        }

        // .button_bg_green
        &_green {
            background: #3bd071;
        }
    }

    // .button_40
    &_40 {
        padding: 14px 40px;
    }

    // .button_75
    &_75 {
        padding: 14px 75px;
    }

    // .button_90
    &_90 {
        padding: 14px 90px;
    }

    // .button_white-text
    &_white-text {
        color: #ffffff;
    }
}

.app-store-button {
    display: inline-block;
    font-family: "Lucida Grande";
    color: #ffffff;
    background: url(../img/Apple_logo.svg) 18% 30% no-repeat #0d0d0d;
    border-radius: 5px;
    padding: 5px 50px 10px 80px;
    line-height: 100%;
    margin: 0px 0px 55px 0px;

    // .app-store-button__small-text
    &__small-text {
        font-size: 10px;
        padding-left: 2px;
    }
    // .app-store-button__big-text
    &__big-text {
        font-size: 19px;
        letter-spacing: -0.7px;
    }
}

.small-text {
    font-family: "Helvetica Neue";
    line-height: 24px;
}

.semibold-text {
    font-size: 24px;
    font-weight: 600;
}

._contain-img {
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.input {
    outline: none;
    color: #3cd072;
    border: none;
    background: #ffffff;
    line-height: 16px;
    padding: 15px 0px 15px 10px;
    margin: 0px 35px 0px 0px;
    width: 100%;

    &_trans {
        background: transparent;
    }

    &_color {
        // .input_color_white
        &_white {
            color: #ffffff;
        }
    }

    &_border {
        // .input_border_green
        &_green {
            border: 2px solid #3cd072;
        }
        // .input_border_white
        &_white {
            border: 2px solid #ffffff;
        }
    }

    &::placeholder {
        color: inherit;
        font: inherit;
    }
}

@import "./main-sections/header";
@import "./main-sections/share";
@import "./main-sections/easy";
@import "./main-sections/picky";
@import "./main-sections/running";
@import "./main-sections/sign-up";
@import "./main-sections/level-up";
@import "./main-sections/form";
@import "footer";
